.front{
    display: flex;
    flex-flow: row wrap;
    background-color: aqua;
}
.block {

    width: 33.333%;
}

img{
    width: 80%;
    height: 80%;
    border: solid 2px black;
    margin: 0px;
    padding: 0px;
}

.temp {
    cursor: pointer;
}