body {
    background-color: peachpuff;
}
h1 {
    text-align: center;
}
.cont {
    width: 100%;
    display: flex;
}
div {
    width: 400px;
    background-color: pink;
    padding: 5%;
    border-radius: 20%;
    border: 6px solid;
    margin: 10px;
}

p {
    margin: 10%;
    padding: 10%;
}
h2 {
    text-align: justify;
    padding-left: 5%;
}

input {
    width: 300px;
    margin-left: 35%;
    background-color: ivory;
    padding: 10px;
}
.button {
    background-color: orange;
    padding: 15px;
    margin: 10px;
    color:black;
    border-style: groove;
}
.buttonr {
    position:relative; left: 140%;
    background-color: orange;
    padding: 15px;
    margin: 10px;
    color:black;
    border-style: groove;
}
.button:hover {
    background-color: rgb(253, 238, 211);
}
