.maincont {
    position: relative;
    width: 400px ;height: 400px;
}
.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease;
}
.tireright {
    background-color:  burlywood;
    position: absolute;top: 400px;left:200px ;
    border: solid brown 8px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.tireleft {
    background-color: burlywood;
    position: absolute;left: 200px;top: -8px;
    border: solid brown 8px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.paddle {
    background-color:  burlywood;
    position: absolute;left: -69px;top: 39px;
    border: solid brown 8px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.lineb {
    position: absolute;top: 52px;left: 50px;
    background-color: brown;
    width: 90px;
    height: 6px;
}
.linel { 
    position: absolute;
    top: -48px;left: 68px;
    width: 6px;
    height: 108px;
    background-color: brown;
    transform: rotate(20deg);
}
.liner { 
    position: absolute;
    top: -50px;left: 190px;
    width: 6px;
    height: 100px;
    background-color: brown;
    transform: rotate(30deg);
}
.linet {
    position: absolute;top: -48px;left: 88px;
    background-color: brown;
    width: 133px;
    height: 6px;
}
.linem {
    position: absolute;
    top: -80px;left: 110px;
    width: 6px;
    height: 140px;
    background-color: brown;
    transform: rotate(-35deg);
}
.seat {
    position: absolute;
    top: 339px; left: 265px;
    background-color: brown;
    width: 50px;height: 5px;
}
.linef {
    position: absolute;
    top: 325px;left: 439px;
    width: 6px;
    height: 140px;
    background-color: brown;
    transform: rotate(-20deg);
}
.handlel {
    position: absolute;
    top: 328px; left: 416px;
    background-color: brown;
    width: 45px;height: 5px;
}
.handlec {
    position: absolute;top: 327.5px; left: 450px;
    height: 30px; width: 20px;
    background-color: transparent;
    border: solid  5px;
    border-color: brown brown brown transparent;
    border-top-right-radius: 50% ;
    border-bottom-right-radius: 50%;
}
.road1 {
    width: 100px; height: 5px;
    position: absolute;
    background-color: brown;
    animation-name: road1 ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.road2 {
    width: 100px; height: 5px;
    position: absolute;
    background-color: brown;
    animation-name: road2 ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes road1 {
    0% {background-color: brown;left: 300px;top: 520px;}
    50% {background-color: brown; left: 200px; top: 520px;}
    100% {background-color: transparent;left: 100px;top: 520px;}
    
}

@keyframes road2 {
    0% {background-color: brown;left: 600px;top: 520px;}
    50% {background-color: brown; left: 400px; top: 520px;}
    100% {background-color: transparent;left: 200px;top: 520px;}
    
}
